body {
    font-family: Roboto, sans-serif;
}

i {
    font-size: 25px;
    margin-left: 10px;
}

.fa-apple {
    font-size: 30px;
}

a {
    color: black!important;
    transition: 0.3s ease-in;
}

a:not([href]) {
    color: rgba(0, 0, 0, .5)!important;
}

.avatar:hover {
    text-shadow: 0 0 3px #000000;
}